@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50 font-sans antialiased selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black;
  }
}
